.zCodemirror {
  display: flex;
  /*border: 1px solid #cdcdcd !important;*/
  border-right: 1px solid #cdcdcd !important;
}

/* Codemirror */
.CodeMirror {
    height: auto !important;
}
.CodeMirror.CodeMirror-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.CodeMirror-scroll {
    flex-grow: 1;
    /*flex-shrink: 0; break things*/
}
.CodeMirror span {
    word-break: break-all;
}

/* match highlight */
.cm-matchhighlight {
    background-color: lightgreen;
}
/** @todo TBI, stub for highlight matches on scrollbar */
.CodeMirror-selection-highlight-scrollbar {
    background-color: green
}

/* solarized theme fix */
.CodeMirror.cm-s-solarized.CodeMirror-wrap {
    box-shadow: inherit !important;
}
